.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alcohol-type-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
}

.alcohol-type {
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for hover and selection */
}

.alcohol-type img {
  width: 120px; /* Adjust the width of each image */
  height: 120px; /* Maintain the height for consistency */
  object-fit: cover;
}

.alcohol-type p {
  margin-top: 5px;
}

.alcohol-type.selected {
  transform: scale(1.1); /* Slightly enlarge the selected image */
  border: 3px solid #007bff; /* Add a border around the selected item */
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5); /* Add a glowing box-shadow effect */
}

.alcohol-type.selected p {
  color: #007bff; /* Change text color of selected type */
}

.liquid-measurement-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
}

.liquid-measurement {
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.liquid-measurement img {
  width: 120px; /* Adjust the width of each image */
  height: 120px; /* Maintain the height for consistency */
  object-fit: cover;
}

.liquid-measurement p {
  margin-top: 5px;
}

.liquid-measurement.selected {
  transform: scale(1.1); /* Slightly enlarge the selected image */
  border: 3px solid #007bff; /* Add a border around the selected item */
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5); /* Add a glowing box-shadow effect */
}

.liquid-measurement.selected p {
  color: #007bff; /* Change text color of selected measurement */
}
